@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

$hoofd-kleur: rgb(56, 56, 56);
$tweede-kleur: rgb(255, 0, 0);

* {
    box-sizing: border-box;
}

body {
    background: #131313;
    color: #fff;
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    margin: 0;
    font-weight: 300;
}
h2 {
    padding: 0.2rem;
}

.heading1 {
    font-size: 6rem;
    line-height: 1;
    margin-bottom: 1rem;
}