@import 'config';
@import 'menu';

main {
    text-align: center;

    i {
        margin: 100px 0px 50px 0px;
        cursor: pointer;
        transition: all 0.15s ease-in-out;
    }
    i:hover {
        color: red;
    }
}

.namen-container {
    display: flex;
    
    div {
        width: 100%;

        input {
            width: 250px;
            height: 30px;
            margin: 20px;
            background-color: $derde-kleur;
            border: 2px solid white;
            color: white;
            font-size: 1.5rem;
        }
    }
}


@media screen and (max-width: 768px) {
    main i {
        margin: 50px 0px 15px 0px;
    }

    .namen-container {
        flex-direction: column;

        div input {
            width: 200px;
        }
    }
}

@import 'mobile';