@import 'config';
@import 'menu';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

main {
    padding: 4rem 4rem 8rem 4rem;
    height: 100%;
    margin: 0 auto;
    max-width: 1024px;
    text-align: center;
}

i {
    margin: 100px 0px 50px 0px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}
i:hover {
    color: red;
}

.namen-container {
    display: flex;
    
    div {
        width: 100%;

        input {
            width: 250px;
            height: 30px;
            margin: 20px;
            background-color:  #131313;
            border: 2px solid white;
            color: white;
            font-size: 1.5rem;
        }
    }
}


@media screen and (max-width: 768px) {
    //  menu re-stylen
    ul.menu-navigatie, div.menu-persoonlijk {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-navigatie {
        height: 65vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }

    .menu-persoonlijk {
        height: 35vh;
        transform: translate3d(100%, 0, 0);

        .foto {
            width: 150px;
            height: 150px;
        }
    }

    .nav-item {
        margin: 1rem;
    }

    .heading1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 18px;
    }

    i {
        margin: 50px 0px 15px 0px;
    }

    .namen-container {
        flex-direction: column;

        div input {
            width: 200px;
        }
    }
}