@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}

body {
    background: #131313;
    color: #fff;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#home-achtergrond {
    background: url(../img/toetsenbord.jpg);
    background-attachment: fixed;
    background-size: cover;
}

// headings
h1, h2, h3 {
    margin: 0;
    font-weight: 300;

    &.heading1 {
        font-size: 6rem;
        line-height: 1;
        margin-bottom: 1rem;
    }
}

h2 {
    padding: 0.2rem;
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.tweede-kleur {
    color: $tweede-kleur;
}

main {
    padding: 4rem 4rem 2rem 4rem;
    height: 100%;

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;

            &:hover {
                color: $tweede-kleur;
                transition: all 0.3s ease-out;
            }
        }
    }

    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}

// over mij pagina ------------------------------------------------
.spacing {
    letter-spacing: 5px;
}

.bio {
    display: flex;
    margin: 50px auto 0 0;
    justify-content: center;
    max-width: 1000px;
    
    .item1 {
        max-height: 400px;
        flex: 0 0 auto;
        border: 3px solid red;
        margin: 10px;
    }
    .item2 {
        margin: 10px;
        font-size: 19px;
        font-weight: 300;

        p {
            padding: 4px;
        }
    }
}

.schuine-container {
    width: 100%;
    background: rgb(29, 29, 29);
    padding: 0 4rem;
    transform: skew(0, -2deg);

    h2 {
        padding-top: 40px;;
        transform: skew(0, 2deg);
    }

    .vaardigheden {
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-around;
        row-gap: 50px;
        padding: 40px 20px;
        transform: skew(0, 2deg);
        
        .grid-item {
            display: grid;
            align-items: center;
            justify-items: center;
            text-align: center;
    
            &:hover {
                    color: $tweede-kleur;
                    transition: all 0.3s ease-out;
                }
        }
    }
}



@import 'mobile';