.grid-container {
  display: grid;
  row-gap: 50px;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: 40px;
  margin: 20px 0;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 60px;

  .grid-item {
      margin: 0 10px;
  }

  img {
      width: 100%;
  }
}


@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns:repeat(1, 250px);
    justify-content: center;
    grid-template-rows: 40px 40px 55px 80px 20px;

    .grid-item {
        margin: 0 10px;
    }
  }
}