@import '../../../algemeen';

.grid-container2 {
  display: grid;
  justify-content: space-between;
  row-gap: 50px;
  padding: 20px 0px;
  max-width: 1280px;
  margin: 0 auto;
  
  .grid-item {
    text-align: center;
    transition: $hover-effect;

    span {
      font-size: 1.1rem;
    }

    i {
      margin-bottom: 20px;
    }
    &:hover {
      color: $tweede-kleur;
    }
  }

  i {
      margin: 10px;
  }
}

@media screen and (max-width: 768px) {
  .grid-container2 {
    grid-template-columns:repeat(2, 1fr);
  }
}

@media screen and (min-width: 769px) {
  .grid-container2 {
      grid-template-columns:repeat(4, 1fr);
  }
}