.grafisch-werk-pagina {
  .container1, .container2, .container4 {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    align-items: flex-start;
    margin-bottom: 60px;

    .flex-item {
        flex: 0 1 300px;
        margin: 0 10px;
        text-align: center;

        img {
            width: 100%;
            height: auto;
        }
    }

    .container4 .flex-item {
      align-self: center;
    }
  }

  .container3 {
    display: grid;
    row-gap: 170px;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: 40px;
    margin: 20px 0;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 60px;
  
    .grid-item {
        margin: 0 10px;
    }
  
    img {
        width: 100%;
    }
  }
  .pijl1, .pijl2 {
    align-self: center;
  }
  .pijl1 {
    display: block;
  }
  .pijl2 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .grafisch-werk-pagina {
    .container1, .container2, .container4 {
      flex-direction: column;
      align-items: center;
  
      .flex-item {
          max-width: 230px;
          flex: 1 0 100%;
          margin: 10px 0px;
      }
    }

    .container3 {
      grid-template-columns:repeat(1, 250px);
      justify-content: center;
      justify-items: center;
      row-gap: 50px;
      grid-template-rows: 40px 50px 160px 70px 40px;
  
      .grid-item {
          margin: 0 10px;
          max-width: 190px;
      }
    }

    .pijl1 {
      display: none;
    }
    .pijl2 {
      display: block;
    }
    
    h1 {
      margin: 0 0 60px 0;
    }
  }
}