.footer {
  width: 100%;
  height: 200px;
  text-align: right;
  background: rgb(0, 0, 0);

  .witte-lijn {
      width: 100%;
      height: 2px;
      background-color: white;
  }

  p {
      margin: 0 auto;
      max-width: 1280px;
      padding: 120px 4rem 0;
      font-size: 1.25rem;
  }
}