@import '../../../algemeen';

.flex-container {
  display: flex;
  max-width: 1280px;
  margin: 20px auto 0 auto;

  .flex-item1 {
      position: relative;
      flex: 0 1 50%;

      img {
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
  }
  .flex-item2 {
      flex: 0 1 50%;
      background: $derde-kleur;
      transition: all 0.3s ease-out;

      div {
          margin: 0;
          padding: 2rem;

          p {
              font-size: 1.1rem;
          }
      }
  }
}

@media screen and (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }
}